python = "^3.11.6"
openai = "^1.5.0"
beautifulsoup4 = "^4.12.2"
fpdf = "^1.7.2"
pypdf2 = "^3.0.1"
jinja2 = "^3.1.2"
requests = "^2.31.0"
google-generativeai = "^0.3.2"
jq = "^1.6.0"
pandas = "^2.1.4"
streamlit = "^1.30.0"